.circle
{
  position: absolute;
  transform: translateX(112%);
  margin:0 auto;
  width:200px;
  height:200px;
  border-radius:50%;
  font-size:100px;
  color:#fff;
  line-height:500px;
  text-align:center;
  background:#FA0D61;
}
.circle:hover {
  background:#F7498F;
}
.visualisationArea {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #D3D3D3;
  border-radius:1%;
  font-stretch: expanded;
}
@media screen and (max-width: 600px) {
  .visualisationArea {
    visibility: hidden;
  }
}

.labelIN {
  position: absolute;
  color: FFF;
  font-size: 650%;
  transform: translateY(30%) translateX(50%);
  letter-spacing: 5px;
}
.labelOUT {
  position: absolute;
  color: FFF;
  font-size: 650%;
  transform: translateY(30%) translateX(1%);
}
